body {
	font-family: 'Poppins', sans-serif;
}

.card,
.card-header,
.card-footer {
	color: #ffffff;
	background-color: #15EDA3;
	border: none;
}

.card-footer {
	color: #ffffff;
}


.btn-color {
	color: #ffffff;
	background-color: #127780;
}

/* .card-header {
	border: none;
	background-color: #15EDA3;
} */
.nav-item a{
	border-radius: 0.5rem;
	color: #127780;
	background-color: none;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: #127780;
}